div.wlby_movie
{
	overflow: hidden;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 640px;
	height: 1008px;
}
.wlby_text p { padding: 0; margin: 0; }

a.wlby_classic-link { color: inherit; text-decoration: none; }
a.wlby_classic-link:link { color: inherit; text-decoration: none; }
a.wlby_classic-link:hover { color: inherit; text-decoration: none; }
a.wlby_classic-link:active { color: inherit; text-decoration: none; }
a.wlby_classic-link:visited { color: inherit; text-decoration: none; }

a.wlby_tlf-link { color: inherit; text-decoration: none; }
a.wlby_tlf-link:link { color: inherit; text-decoration: none; }
a.wlby_tlf-link:hover { color: inherit; text-decoration: none; }
a.wlby_tlf-link:active { color: inherit; text-decoration: none; }
a.wlby_tlf-link:visited { color: inherit; text-decoration: none; }

.wlby_button > * { visibility: hidden; }
.wlby_button > .wlby_button_normal { visibility: visible; }
.wlby_button:hover > .wlby_button_normal { visibility: hidden; }
.wlby_button:hover > .wlby_button_hover { visibility: visible; }
.wlby_button:active > .wlby_button_normal { visibility: hidden; }
.wlby_button:active > .wlby_button_hover { visibility: hidden; }
.wlby_button:active > .wlby_button_active { visibility: visible; }

@-webkit-keyframes wlby_frameset-animation {
	from { }
	to { }
}

.wlby_fs, .wlby_graphic 
{
	-webkit-animation-name: wlby_frameset-animation;
}

.wlby_graphic 
{
	-webkit-animation-duration: 1s;
}

.wlby_masked 
{
	height: inherit;
	position: inherit;
	width: inherit;
}

.wlby_sprite 
{
	-webkit-animation-name: wlby_frameset-animation;
	-webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes wlby_KF_44 {
from {
	-webkit-transform: matrix(1, 0, 0, 1, 408.95, 644.95);
	opacity: 1;
}
to {
	-webkit-transform: matrix(1, 0, 0, 1, 408.95, 335);
	opacity: 1;
}
}
@-webkit-keyframes wlby_KF_43 {
from {
	-webkit-transform: matrix(1, 0, 0, 1, 141.35, 294.35);
	opacity: 0;
}
11.42% {
	-webkit-transform: matrix(1, 0, 0, 1, 141.35, 294.35);
	opacity: 1;
}
11.43%, to {
	-webkit-transform: matrix(1, 0, 0, 1, 141.35, 294.35);
}
}
@-webkit-keyframes wlby_KF_14 {
from {
	-webkit-transform: matrix(1, 0, 0, 1, 377.8, 361.35) scale(1, 1);
	opacity: 0;
}
9% {
	-webkit-transform: matrix(1, 0, 0, 1, 377.8, 361.35) scale(1, 1);
	opacity: 1;
}
18%, to {
	-webkit-transform: matrix(1, 0, 0, 1, 155.85, 293.35) scale(0.5, 0.5);
	opacity: 0;
}
}
@-webkit-keyframes wlby_KF_35 {
from, 32.25% {
	-webkit-transform: matrix(1, 0, 0, 1, 132.5, 294.35);
}
32.26% {
	-webkit-transform: matrix(1, 0, 0, 1, 132.5, 294.35);
	opacity: 1;
}
38.71%, to {
	-webkit-transform: matrix(1, 0, 0, 1, 132.5, 294.35);
	opacity: 0;
}
}
@-webkit-keyframes wlby_KF_51 {
from {
	-webkit-transform: matrix(1, 0, 0, 1, -30, 0) rotate(0deg) scale(1, 1);
	opacity: 1;
}
46.66% {
	-webkit-transform: matrix(1, 0, 0, 1, -30, 0) rotate(-45deg) scale(1, 1);
	opacity: 1;
}
96.66% {
	-webkit-transform: matrix(1, 0, 0, 1, -30, 0) rotate(0deg) scale(1, 1);
	opacity: 1;
}
96.67%, to {
	-webkit-transform: matrix(1, 0, 0, 1, -30, 0) rotate(0deg) scale(1, 1);
}
}
@-webkit-keyframes wlby_KF_23 {
from {
	-webkit-transform: matrix(1, 0, 0, 1, 142.35, 295.35);
	opacity: 0.199219;
}
12.19% {
	-webkit-transform: matrix(1, 0, 0, 1, 142.35, 295.35);
	opacity: 1;
}
12.2%, 25.61% {
	-webkit-transform: matrix(1, 0, 0, 1, 142.35, 295.35);
}
25.62%, to {
	-webkit-transform: matrix(1, 0, 0, 1, 142.35, 295.35);
	opacity: 0;
}
}
@-webkit-keyframes wlby_KF_5 {
from {
	-webkit-transform: matrix(1, 0, 0, 1, 466, 424);
	opacity: 1;
}
62.5%, 66.66% {
	-webkit-transform: matrix(1, 0, 0, 1, 466, 424);
	opacity: 0.898438;
}
66.67% {
	-webkit-transform: matrix(1, 0, 0, 1, 466, 424);
	opacity: 1;
}
95.84%, to {
	-webkit-transform: matrix(1, 0, 0, 1, 466, 424);
	opacity: 0;
}
}
@-webkit-keyframes wlby_KF_27 {
from {
	-webkit-transform: matrix(1, 0, 0, 1, 487.947, 697.45) rotate(-89.995deg);
	opacity: 1;
}
32.25% {
	-webkit-transform: matrix(1, 0, 0, 1, 487.947, 385.5) rotate(-89.995deg);
	opacity: 1;
}
32.26%, 33.88% {
	-webkit-transform: matrix(1, 0, 0, 1, 487.947, 385.5) rotate(-89.995deg);
}
33.89%, to {
	-webkit-transform: matrix(1, 0, 0, 1, 487.947, 385.5) rotate(-89.995deg);
	opacity: 0;
}
}
@-webkit-keyframes wlby_KF_31 {
from {
	-webkit-transform: matrix(1, 0, 0, 1, 488.447, 596.95) rotate(-89.995deg);
	opacity: 1;
}
32.25% {
	-webkit-transform: matrix(1, 0, 0, 1, 488.447, 283.95) rotate(-89.995deg);
	opacity: 1;
}
32.26%, 33.88% {
	-webkit-transform: matrix(1, 0, 0, 1, 488.447, 283.95) rotate(-89.995deg);
}
33.89%, to {
	-webkit-transform: matrix(1, 0, 0, 1, 488.447, 283.95) rotate(-89.995deg);
	opacity: 0;
}
}
@-webkit-keyframes wlby_KF_40 {
from {
	-webkit-transform: matrix(1, 0, 0, 1, 132.5, 293.35);
	opacity: 0;
}
9.52% {
	-webkit-transform: matrix(1, 0, 0, 1, 132.5, 293.35);
	opacity: 1;
}
9.53%, 16.67% {
	-webkit-transform: matrix(1, 0, 0, 1, 132.5, 293.35);
}
16.68% {
	-webkit-transform: matrix(1, 0, 0, 1, 132.5, 293.35);
	opacity: 1;
}
26.21%, to {
	-webkit-transform: matrix(1, 0, 0, 1, 132.5, 293.35);
	opacity: 0;
}
}
@-webkit-keyframes wlby_KF_10 {
from {
	-webkit-transform: matrix(1, 0, 0, 1, 380.8, 359.35) scale(2, 2);
	opacity: 0;
}
4.72% {
	-webkit-transform: matrix(1, 0, 0, 1, 380.8, 359.35) scale(2, 2);
	opacity: 1;
}
4.73%, 28.35% {
	-webkit-transform: matrix(1, 0, 0, 1, 380.8, 359.35) scale(2, 2);
}
28.36% {
	-webkit-transform: matrix(1, 0, 0, 1, 380.8, 359.35) scale(2, 2);
	opacity: 1;
}
35.45% {
	-webkit-transform: matrix(1, 0, 0, 1, 157.85, 293.35) scale(1, 1);
	opacity: 1;
}
35.46%, to {
	-webkit-transform: matrix(1, 0, 0, 1, 157.85, 293.35) scale(1, 1);
}
}
@-webkit-keyframes wlby_KF_19 {
from {
	-webkit-transform: matrix(1, 0, 0, 1, 425.3, 358.35);
	opacity: 0;
}
4.72% {
	-webkit-transform: matrix(1, 0, 0, 1, 425.3, 358.35);
	opacity: 1;
}
4.73%, 9.45% {
	-webkit-transform: matrix(1, 0, 0, 1, 425.3, 358.35);
}
9.46% {
	-webkit-transform: matrix(1, 0, 0, 1, 425.3, 358.35);
	opacity: 1;
}
13.4% {
	-webkit-transform: matrix(1, 0, 0, 1, 425.3, 358.35);
	opacity: 0;
}
17.34% {
	-webkit-transform: matrix(1, 0, 0, 1, 425.3, 358.35);
	opacity: 1;
}
21.27%, to {
	-webkit-transform: matrix(1, 0, 0, 1, 425.3, 358.35);
	opacity: 0;
}
}
@-webkit-keyframes wlby_KF_47 {
from {
	-webkit-transform: matrix(1, 0, 0, 1, 438.95, 335);
	-webkit-transform-origin: 0px 0px;
	opacity: 1;
}
3.22% {
	-webkit-transform: matrix(1, 0, 0, 1, 439.056, 340.89);
	-webkit-transform-origin: 0px 0px;
}
6.45% {
	-webkit-transform: matrix(1, 0, 0, 1, 439.316, 345.759);
	-webkit-transform-origin: 0px 0px;
}
9.67% {
	-webkit-transform: matrix(1, 0, 0, 1, 439.776, 350.864);
	-webkit-transform-origin: 0px 0px;
}
12.9% {
	-webkit-transform: matrix(1, 0, 0, 1, 440.453, 355.994);
	-webkit-transform-origin: 0px 0px;
}
16.12% {
	-webkit-transform: matrix(1, 0, 0, 1, 441.388, 361.178);
	-webkit-transform-origin: 0px 0px;
}
19.35% {
	-webkit-transform: matrix(1, 0, 0, 1, 442.621, 366.398);
	-webkit-transform-origin: 0px 0px;
}
22.58% {
	-webkit-transform: matrix(1, 0, 0, 1, 444.2, 371.634);
	-webkit-transform-origin: 0px 0px;
}
25.8% {
	-webkit-transform: matrix(1, 0, 0, 1, 446.18, 376.854);
	-webkit-transform-origin: 0px 0px;
}
29.03% {
	-webkit-transform: matrix(1, 0, 0, 1, 448.619, 382.01);
	-webkit-transform-origin: 0px 0px;
}
32.25% {
	-webkit-transform: matrix(1, 0, 0, 1, 451.569, 387.031);
	-webkit-transform-origin: 0px 0px;
}
35.48% {
	-webkit-transform: matrix(1, 0, 0, 1, 455.157, 391.903);
	-webkit-transform-origin: 0px 0px;
}
38.7% {
	-webkit-transform: matrix(1, 0, 0, 1, 459.995, 397.124);
	-webkit-transform-origin: 0px 0px;
}
41.93% {
	-webkit-transform: matrix(1, 0, 0, 1, 465.402, 401.927);
	-webkit-transform-origin: 0px 0px;
}
45.16% {
	-webkit-transform: matrix(1, 0, 0, 1, 470.872, 406.094);
	-webkit-transform-origin: 0px 0px;
}
48.38% {
	-webkit-transform: matrix(1, 0, 0, 1, 476.283, 409.743);
	-webkit-transform-origin: 0px 0px;
}
51.61% {
	-webkit-transform: matrix(1, 0, 0, 1, 481.619, 412.998);
	-webkit-transform-origin: 0px 0px;
}
54.83% {
	-webkit-transform: matrix(1, 0, 0, 1, 486.42, 415.789);
	-webkit-transform-origin: 0px 0px;
}
58.06% {
	-webkit-transform: matrix(1, 0, 0, 1, 489.495, 417.582);
	-webkit-transform-origin: 0px 0px;
}
61.29% {
	-webkit-transform: matrix(1, 0, 0, 1, 493.118, 419.703);
	-webkit-transform-origin: 0px 0px;
}
64.51% {
	-webkit-transform: matrix(1, 0, 0, 1, 496.399, 421.65);
	-webkit-transform-origin: 0px 0px;
}
67.74% {
	-webkit-transform: matrix(1, 0, 0, 1, 500.686, 424.506);
	-webkit-transform-origin: 0px 0px;
}
70.96% {
	-webkit-transform: matrix(1, 0, 0, 1, 504.97, 427.752);
	-webkit-transform-origin: 0px 0px;
}
74.19% {
	-webkit-transform: matrix(1, 0, 0, 1, 509.058, 431.378);
	-webkit-transform-origin: 0px 0px;
}
77.41% {
	-webkit-transform: matrix(1, 0, 0, 1, 512.97, 435.693);
	-webkit-transform-origin: 0px 0px;
}
80.64% {
	-webkit-transform: matrix(1, 0, 0, 1, 516.491, 440.818);
	-webkit-transform-origin: 0px 0px;
}
83.87% {
	-webkit-transform: matrix(1, 0, 0, 1, 519.412, 446.668);
	-webkit-transform-origin: 0px 0px;
}
87.09% {
	-webkit-transform: matrix(1, 0, 0, 1, 521.57, 452.938);
	-webkit-transform-origin: 0px 0px;
}
90.32% {
	-webkit-transform: matrix(1, 0, 0, 1, 522.975, 459.369);
	-webkit-transform-origin: 0px 0px;
}
93.54% {
	-webkit-transform: matrix(1, 0, 0, 1, 523.726, 465.759);
	-webkit-transform-origin: 0px 0px;
}
96.77%, to {
	-webkit-transform: matrix(1, 0, 0, 1, 523.95, 472);
	-webkit-transform-origin: -30px 0px;
}
}
.wlby_46
{
	-webkit-animation-duration: 2.5s;
	-webkit-animation-name: wlby_KF_51;
	-webkit-transform: matrix(1, 0, 0, 1, -30, 0);
	-webkit-transform-origin: 0px 0px;
	-webkit-animation-timing-function: linear;
}

.wlby_20
{
	-webkit-animation-duration: 0.0833333s;
}

.wlby_22
{
	-webkit-animation-duration: 0.166667s;
}

.wlby_25
{
	-webkit-animation-duration: 0.25s;
}

.wlby_27
{
	-webkit-animation-duration: 0.333333s;
}

.wlby_29
{
	-webkit-animation-duration: 0.416667s;
}

.wlby_19
{
	-webkit-animation-duration: 0.5s;
}

.wlby_5
{
	-webkit-animation-duration: 1.41667s;
}

.wlby_8
{
	-webkit-animation-duration: 3.66667s;
}

.wlby_13
{
	-webkit-animation-duration: 5.16667s;
}

.wlby_16
{
	-webkit-animation-duration: 6.83333s;
}

.wlby_34
{
	-webkit-animation-duration: 8.5s;
}

.wlby_36
{
	-webkit-animation-duration: 9.08333s;
}

.wlby_1
{
	-webkit-animation-duration: 12s;
}

.wlby_49
{
	-webkit-animation-duration: 12s;
	position: absolute;
}

.wlby_47
{
	-webkit-animation-duration: 0.0833333s;
	-webkit-transform: matrix(1, 0, 0, 1, 30, 0);
	-webkit-transform-origin: -30px 0px;
}

.wlby_37
{
	-webkit-animation-duration: 2.91667s;
	-webkit-animation-name: wlby_KF_43;
	display: none;
	-webkit-transform: matrix(1, 0, 0, 1, 141.35, 294.35);
	-webkit-transform-origin: -40px 0px;
	-webkit-animation-timing-function: linear;
}

.wlby_6
{
	-webkit-animation-duration: 10.5833s;
	-webkit-animation-name: wlby_KF_10;
	display: none;
	-webkit-transform: matrix(1, 0, 0, 1, 157.85, 293.35);
	-webkit-transform-origin: -56.5px 0px;
	-webkit-animation-timing-function: linear;
}

.wlby_40
{
	-webkit-animation-duration: 1.66667s;
	-webkit-animation-name: wlby_KF_44;
	display: none;
	-webkit-transform: matrix(1, 0, 0, 1, 408.95, 335);
	-webkit-transform-origin: 0px 0px;
	-webkit-animation-timing-function: linear;
}

.wlby_45
{
	-webkit-animation-duration: 2.58333s;
	-webkit-animation-name: wlby_KF_47;
	display: none;
	-webkit-transform: matrix(1, 0, 0, 1, 523.95, 472);
	-webkit-transform-origin: -30px 0px;
	-webkit-animation-timing-function: linear;
}

.wlby_4
{
	position: absolute;
	-webkit-transform:matrix(1,0,0,1,-362,-28.5);
}

.wlby_12
{
	position: absolute;
	-webkit-transform:matrix(1,0,0,1,-200,-134.5);
}

.wlby_7
{
	position: absolute;
	-webkit-transform:matrix(1,0,0,1,-113,-69.5);
}

.wlby_10
{
	position: absolute;
	-webkit-transform:matrix(1,0,0,1,-109,-130);
}

.wlby_15
{
	position: absolute;
	-webkit-transform:matrix(1,0,0,1,-80,-38.5);
}

.wlby_38
{
	position: absolute;
	-webkit-transform:matrix(1,0,0,1,-80,-38);
}

.wlby_51
{
	-webkit-animation-duration: 0.333333s;
	display: none;
	position: absolute;
	-webkit-transform:matrix(1,0,0,1,-72,-36.5);
}

.wlby_18
{
	position: absolute;
	-webkit-transform:matrix(1,0,0,1,-72,-36);
}

.wlby_54
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform:matrix(1,0,0,1,-72,-36);
}

.wlby_53
{
	-webkit-animation-duration: 0.166667s;
	display: none;
	position: absolute;
	-webkit-transform:matrix(1,0,0,1,-72,-36);
}

.wlby_52
{
	-webkit-animation-duration: 0.25s;
	display: none;
	position: absolute;
	-webkit-transform:matrix(1,0,0,1,-72,-36);
}

.wlby_50
{
	-webkit-animation-duration: 0.416667s;
	display: none;
	position: absolute;
	-webkit-transform:matrix(1,0,0,1,-72,-36);
}

.wlby_48
{
	position: absolute;
	-webkit-transform:matrix(1,0,0,1,-60,-64.5);
}

.wlby_33
{
	position: absolute;
	-webkit-transform:matrix(1,0,0,1,-57,-65);
}

.wlby_41
{
	position: absolute;
	-webkit-transform:matrix(1,0,0,1,-30,-64.5);
}

.wlby_57
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform:matrix(1,0,0,1,378.95,270.5);
}

.wlby_56
{
	-webkit-animation-duration: 0.833333s;
	display: none;
	position: absolute;
	-webkit-transform:matrix(1,0,0,1,378.95,270.5);
}

.wlby_55
{
	-webkit-animation-duration: 6.83333s;
	position: absolute;
	-webkit-transform:matrix(1,0,0,1,378.95,580.45);
}

.wlby_35
{
	-webkit-animation-duration: 3.5s;
	-webkit-animation-name: wlby_KF_40;
	display: none;
	-webkit-transform: matrix(1, 0, 0, 1, 132.5, 293.35);
	-webkit-transform-origin: -28.5px 0px;
	-webkit-animation-timing-function: linear;
	opacity: 0;
}

.wlby_32
{
	-webkit-animation-duration: 5.16667s;
	-webkit-animation-name: wlby_KF_35;
	display: none;
	-webkit-transform: matrix(1, 0, 0, 1, 132.5, 294.35);
	-webkit-transform-origin: -28.5px 0px;
	-webkit-animation-timing-function: linear;
	opacity: 0;
}

.wlby_14
{
	-webkit-animation-duration: 6.83333s;
	-webkit-animation-name: wlby_KF_23;
	display: none;
	-webkit-transform: matrix(1, 0, 0, 1, 142.35, 295.35);
	-webkit-transform-origin: -40px 0px;
	-webkit-animation-timing-function: linear;
	opacity: 0;
}

.wlby_9
{
	-webkit-animation-duration: 8.33333s;
	-webkit-animation-name: wlby_KF_14;
	display: none;
	-webkit-transform: matrix(1, 0, 0, 1, 155.85, 293.35) scale(0.5, 0.5);
	-webkit-transform-origin: -54.5px 0px;
	-webkit-animation-timing-function: linear;
	opacity: 0;
}

.wlby_11
{
	-webkit-animation-duration: 10.5833s;
	-webkit-animation-name: wlby_KF_19;
	display: none;
	-webkit-transform: matrix(1, 0, 0, 1, 425.3, 358.35);
	-webkit-transform-origin: -100px 0px;
	-webkit-animation-timing-function: linear;
	opacity: 0;
}

.wlby_3
{
	-webkit-animation-duration: 2s;
	-webkit-animation-name: wlby_KF_5;
	-webkit-transform: matrix(1, 0, 0, 1, 466, 424);
	-webkit-transform-origin: -181px 0px;
	-webkit-animation-timing-function: linear;
	opacity: 0;
}

.wlby_17
{
	-webkit-animation-duration: 5.16667s;
	-webkit-animation-name: wlby_KF_27;
	display: none;
	-webkit-transform: matrix(1, 0, 0, 1, 487.947, 385.5) rotate(-89.995deg);
	-webkit-transform-origin: -36px 0px;
	-webkit-animation-timing-function: linear;
	opacity: 0;
}

.wlby_31
{
	-webkit-animation-duration: 5.16667s;
	-webkit-animation-name: wlby_KF_31;
	display: none;
	-webkit-transform: matrix(1, 0, 0, 1, 488.447, 283.95) rotate(-89.995deg);
	-webkit-transform-origin: -36px 0px;
	-webkit-animation-timing-function: linear;
	opacity: 0;
}
